.container-chat {
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 20px;
}


.message-list{
    height: 60vh;
    width: 100%;
}

.message{
    background-color: #6d6d6d !important;
    border-radius: 15px;
    width: fit-content;
    padding: 10px;
    text-align: start;
}

.name-author{    
    font-weight: bold;
    width: auto;
}

.text-author{
    margin-top: -5px;
    width: auto;
    word-wrap: break-word;
}

.container-message {
    height: 100%;
    overflow-y: auto; 
    overflow-x: hidden;
    padding: 10px;
}

header {
    text-align: center;
}